#form-box {
    background-color: lighten($color-active, 22%);
    position: relative;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 16px 24px 2px rgba($color-dark, 0.1), 
                0 6px 10px 5px rgba($color-dark, 0.1), 
                0 8px 10px -5px rgba($color-dark, 0.2);
    transition: transform 0.1s ease-in-out;
   @include  mq-bk-tablet{
        width: 66%;
    }
    &.close {
        width: 0;
        padding: 0;
        overflow: hidden;
        transition: 0.8s ease-in-out;
        box-shadow: 0 16px 24px 2px rgba($color-dark, 0);
    }
}

#input-group {
    position: relative;
    padding: 30px 20px 20px 20px;
    margin: 10px 60px 10px 10px; 
    opacity: 1;
    color: $color-dark;
    transition: opacity 0.3s ease-in-out;
}

#input-label {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 20px;
    font-size: rem(20px);
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

#input-field {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    color: $color-dark;
    background: transparent;
    box-shadow: none;
}

input:valid + #input-label {
    top: 6px;
    left: 42px;
    margin-left: 0 !important;
    font-size: rem(11px);
    font-weight: normal;
    color: $color-enfasis;
  }

#input-progreso {
    border-bottom: 3px solid $color-enfasis;
    width: 0;
    transition: width 0.6s ease-in-out;
}

#barra-progreso {
    position: absolute;
    background-color: $color-link;
    height: $altura-barra-proceso;
    width: 0;
    transition: width 0.5s ease-in-out; 
}

%boton {
    position: absolute;
    z-index: 10;
    color: $color-enfasis;
    cursor: pointer;
    &:hover {
        color: lighten($color-enfasis, 10%);
    }
}

#btn-sig {
    @extend %boton;
    right: 20px;
    bottom: 10px;
    float: right;
    font-size: rem(20px);
    @include mq-bk-tablet {
        font-size: rem(40px);
    }
}

#btn-prev {
    @extend %boton;
    left: 30px;
    top: 12px;
    float: right;
}

.error {
    #input-progreso {
      border-color: $color-error;
    }
  
    #btn-sig {
      color: $color-error;
    }
  }
  
.close {
    #btn-sig,
    #btn-prev {
        color: lighten($color-active, 22%);
    }
}

.end {
    font-size: 2rem;
    color: $color-dark;
}