.header {
    background-color: $color-light;
    border-bottom: dotted 3px $color-dark;
    padding: 1rem 2rem;
    &__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: $bk-tablet) {
            flex-direction: row;
        }
    }
    &__logo {
        margin-bottom: .5rem;
        font-weight: 600;
        font-size: 2rem;
        color: $color-enfasis;
        @include mq-bk-tablet {
            margin-bottom: 0;
        }
    }
}

.navegacion {
    &__lista {
        display: flex;
        list-style: none;
    }
    &__item {
        margin-right: .5rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: none;
        color: $color-link;
        &:hover {
            color: $color-dark;
        }
    }
}

.active,
.active:hover {
    color: $color-active;
}