body {
    font-family: $fuente-principal;
    background-color: $color-bg;
}

%texto {
    line-height: 1.3;
    margin-bottom: 1rem;
    color: $color-dark;
}

.texto--destacado {
    @extend %texto;
    font-size: 1.3rem;
}

code {
    color: $color-enfasis;
}