.main,
.main--form {
    max-width: 1024px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.main--form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: $color-dark;
}