$fuente-principal: Helvetica, Arial, sans-serif;
$color-bg: #f9f7f7;
$color-light: #fff;
$color-dark: #333;
$color-enfasis: #ce93d8; 
$color-link: #8dc8ae;
$color-active: #c8ae8d;
$color-error: #d50000;
$bk-tablet: 768px;
$altura-barra-proceso: rem(10px); 