block config
    include ../config/config

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        include ../includes/header
        block main
        block scriptsJS
            if actual == 'Contacto'
                script(src="js/script.min.js")