extends templates/template
append config
    - actual = 'Acerca'

block main
    main.main
        h1.h1= actual
        p.texto--destacado En este proyecto se ha usado la lógica de templates de <code>Pug</code> para generar desde una única plantilla-tipo el resto de páginas <code>html</code>. 