extends templates/template
append config
    - actual = 'Home'

block main
    main.main
        h1.h1 Formulario en varios pasos
        p.texto--destacado Este es un simple ejercicio de trabajo para practicar y aprender las posibilidades del motor de templates <code>Pug</code>. Utiliza la lógica del template único para generar todas las páginas <code>html</code>.
        p.texto--destacado Asimismo, se introduce funcionalidad de generar un menú de navegación flexible que permite el marcado de la clase <code>.active</code> con condicionales y variables, que se encuentra en el archivo <code>includes/header</code>.
        p.texto--destacado El formulario en cuestión está ubicado en la página <strong>Contacto</strong>.