extends templates/template
append config
    - actual = 'Trabajos'

block main
    main.main
        h1.h1= actual
        p.texto--destacado El único propósito de esta página es verificar que el modo de programar la plantilla de navegación en Pug funciona correctamente y marca la clase activa en el menú de navegación.